@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --header-height: 64px;
    --footer-height: 32px;
}

html, body, .layout-wrapper, .layout {
    height: 100%;
}

.layout {
    display: flex;
    flex-direction: column;

    .main-wrapper {
        flex: 1;
    }

    .footer-wrapper {
        flex-shrink: 0;
    }
}

header {
    background: var(--color-primary);
    color: white;

    .header {
        height: var(--header-height);
        display: flex;
        align-items: center;
    }
}

footer {
    background-color: var(--color-secondary);

    .footer {
        height: var(--footer-height);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@layer components {
    h1 { @apply text-4xl font-bold; }
    h2 { @apply text-3xl font-bold; }
    h3 { @apply text-2xl font-bold; }
    h4 { @apply text-xl font-bold; }
    h5 { @apply text-lg font-semibold; }
    h6 { @apply text-md font-semibold; }
    p { @apply text-md; }
    span { @apply text-md; }
    small { @apply text-sm; }
}