@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'loader';


html, body, .layout {
    min-height: 100vh;
}

.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
}


@layer components {
    h1 { @apply text-5xl font-bold; }
    h2 { @apply text-4xl font-bold; }
    h3 { @apply text-3xl font-bold; }
    h4 { @apply text-2xl font-bold; }
    h5 { @apply text-xl font-semibold; }
    h6 { @apply text-lg font-semibold; }
    p { @apply text-md; }
    span { @apply text-md; }
    small { @apply text-sm; }

    header {
        @apply py-2 bg-primary text-white;
    }
    main {
        @apply py-2;
    }
    footer {
        @apply py-2 bg-secondary;
    }
    .container {
        @apply mx-auto my-0 px-4 w-full max-w-7xl;
    }

    .button { @apply py-1 px-4 border-2 text-lg; }
    .button-success { @apply border-success bg-success-background text-success-text hover:bg-success hover:text-white; }
    .button-danger { @apply border-danger bg-danger-background text-danger-text hover:bg-danger hover:text-white; }
    .button-warning { @apply border-warning bg-warning-background text-warning-text hover:bg-warning hover:text-white; }

    .banner { @apply p-4 m-4 border-8; }
    .banner-success { @apply border-success bg-success-background text-success-text; }
    .banner-danger { @apply border-danger bg-danger-background text-danger-text; }
    .banner-warning { @apply border-warning bg-warning-background text-warning-text; }
}
